<h3>Employee detail</h3>
<div *ngIf="selectedEmployee$ | async as employeeItem">
  <section>
    <div>
      <label for="device-type">Name:  </label>
      <input type="text" id="employeeName" [formControl]="nameControl" placeholder="Employee name" />
    </div>
    <div>
      <label for="device-description">Email:</label>
      <input type="text" id="email" [formControl]="emailControl" placeholder="E-mail" />
    </div>
    <button type="button" (click)="update()">Update</button>
  </section>
  <section>
    <ul>
      <li *ngFor="let deviceItem of devicesList$ | async">
        <input type="checkbox" id="deviceCheck" [checked]="isInList(employeeItem.devices, deviceItem)" (change)="relateDevice(employeeItem, deviceItem)" />
        <a [routerLink]="['/detail-device', deviceItem.id]">
          <span>{{ deviceItem.deviceType }}</span>&nbsp;-&nbsp;<span>{{ deviceItem.description }}</span>
        </a>
      </li>
    </ul>
  </section>

  <button type="button" (click)="gotoList()">Back to list</button>
</div>
