<h3>Device list</h3>
<section>
  <form>
    <input type="text" placeholder="Filter by description" #filter>
    <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    <button class="primary" type="button" (click)="filterResults('')">Clear</button>
    <button class="" type="button" [routerLink]="['/add-device']">New device</button>
  </form>

</section>
<section>
  <table mat-table [dataSource]="devicesListToShow$" class="mat-elevation-z8">

    <!-- DeviceType Column -->
    <ng-container matColumnDef="deviceType">
      <th mat-header-cell *matHeaderCellDef> Device type </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Edit column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/detail-device', element.id]">
          <span>Edit</span>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
